{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/pocketBand/header.png",
      "fileBody" : "/interface/pocketBand/body_blank.png",
      "fileFooter" : "/interface/pocketBand/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 252]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Pocket Band",
      "subtitle" : "^#b9b5b2;Look, ma! No hands!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/pocketBand/iconPocketBand.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/pocketBand/shine.png",
      "position" : [0, -10],
      "zlevel" : -10
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/pocketBand/scrollbg.png",
      "position" : [2, 29],
      "zlevel" : -5
    },
    "lblSong" : {
      "type" : "label",
      "position" : [77, 235],
      "hAnchor" : "mid",
      "value" : "Choose a song",
      "color" : [127, 127, 127]
    },
    "songs" : {
      "type" : "scrollArea",
      "rect" : [5, 93, 155, 223],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/pocketBand/songselected.png",
            "unselectedBG" : "/interface/pocketBand/songbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [142, 9],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/pocketBand/songbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "songName" : {
                "type" : "label",
                "position" : [2, 0],
                "hAnchor" : "left",
                "width" : 138,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "group" : {
      "type" : "textbox",
      "position" : [44, 71],
      "hint" : "Band name",
      "maxWidth" : 50
    },
    "lblBand" : {
      "type" : "label",
      "position" : [78, 47],
      "hAnchor" : "mid",
      "value" : "Enter the same band name as other\n players to play music in unison",
      "color" : [127, 127, 127]
    },
    "lblBandInput" : {
      "type" : "image",
      "file" : "/interface/pocketBand/band.png",
      "position" : [39, 68],
      "zlevel" : -3
    },
    "btnPlay" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [50, 28],
      "caption" : "Play"
    }
  }
}
